h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.63), rgba(0,0,0,0.63), rgba(0,0,0,0.53), rgba(0,0,0,0.4)), url(img/fdg\ backg.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color:#fff;
    border-bottom: 3px solid #000000;
    animation: 2s ease-out 0s 1 fadeIn;
}

nav h4 {
    color: #f0f0f0;
    font-size: 24px;
    margin-left: 1%;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.nav-links{
flex: 1;
text-align: right;
animation: slide-in-nav 1s ease-out;
}

.nav-links ul li{
list-style: none;
display: inline-block;
padding: 8px 12px;
position: relative;
}

.header-nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.header-nav-links ul li::after {
    content: '';
    width:0%;
    height: 2px;
    background: #2e04e7;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.header-nav-links ul li:hover::after {
    content: '';
    width:100%;
    height: 2px;
    background: #0905f8;
    display: block;
    margin: auto;
    transition: 0.5s;
}


.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-30%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}

.text-box.index-text-box {
    background-color: rgba(0, 0, 0, 0.5); /* black with 50% opacity */
    padding: 20px; /* adding some padding to separate text from the border of the box */
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}
.hero-btn:hover{
    border: 1px solid #0652f7;
    background:#f1eceb;
    color: blue;
    transition: 1s;    
}

nav .fa{
    display: none;
 }

 nav .fa.social-icon {
    display: inline-block;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px; 
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #3721f8;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
            }
    .nav-links ul{
        padding: 30px;
    }
}

/* Define the slide-in animation */
@keyframes slide-in {
    0% {
        right: -200px;
    }
    100% {
        right: 0;
    }
}

@keyframes slide-in-nav {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Define the slide-out animation */
@keyframes slide-out {
    0% {
        right: 0;
    }
    100% {
        right: -200px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.nav-links.slide-in {
    right: 0;
    animation: slide-in 1s forwards;
}

/* Apply the slide-out animation when the nav-links are not visible */
.nav-links.slide-out {
    right: -200px;
    animation: slide-out 1s forwards;
}

/*---------About US--------*/


.sub-header{
    height: 50vh;
    width: 100%;
    background-image:
    linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/Flordia\ Doctors\ group.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color:#fff;
    border-bottom: 3px solid #000000;
}
.sub-header h1{
    margin-top: -100px;
    }


.about {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background: linear-gradient(to top, #E6F0FF, rgba(0, 128, 255, 0.9));
    animation: 2s ease-out 0s 1 fadeIn;
}
    .about p{
        text-align:center;
        margin-left: 15%;
        margin-right: 15%;
    }

.about-col{
    flex-basis: calc(33.3333% - 40px); /* Divide by 3 and reduce a bit for margins */
    border-radius: 10px;
    margin: 0 20px; /* Add horizontal margin to space the columns */
    text-align: left; 
    }

.about-col img{
    width: 70%; /* occupy the full width of parent */
    height: auto; /* maintain the aspect ratio */
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid #28118f;
    border-radius: 10px; /* Optional - if you want rounded corners */
    object-fit: cover; /* This ensures that the images keep their aspect ratio */
}

    .about-col p{
        padding: 0;
        margin-left: 10%;
        } 
        
    .about-col h3{
        margin-top: 16px;
        margin-left: 10%;
        margin-bottom: 15px;
        text-align: left;
        }

        .hero-btn1{
            display: block;
            text-decoration: none;
            color:#ffffff;
            border: 2px solid #ffffff;
            padding: 12px 34px;
            font-size: 13px;
            background: #000080;
            position: relative;
            cursor: pointer;
            border-radius: 5px;
            width: fit-content;
            margin: 20px auto 0;
        }
        .hero-btn1:hover{
            border: 2px solid #000080;
            background:#ffffff;
            color: #000000;
            transition: 1s;    
        }

/*---------services--------*/

.services{
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 10%;
    padding-left: 5%; 
    padding-right: 5%; 
    background: linear-gradient(to bottom, #E6F0FF, rgba(0, 128, 255, 0.9)), url(img/business\ management.jpg);
    animation: 2s ease-out 0s 1 fadeIn;
}

.services-col{
    flex-basis: 31%;   
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center; 
    border: 2px solid #28118f;
    padding: 5px; 
    background-color: white; /* This will set the background color of the boxes to white */
}

.services-col img{
    width: 60px;
    height: 255px;
    border-radius: 10px;
}

.services-col p{
    padding: 0;
} 

.services-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
}

h1{ 
    font-size: 36px;
    font-weight: 600;
}

p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

h3{ 
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.services-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.9 );
}

.services-col img{
    width: 100%; 
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}




/*---------service external page--------*/

.services1 {
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 10%;
   
    background-image: linear-gradient(to bottom, rgba(245, 235, 235, 0.63), rgba(109, 104, 104, 0.63), rgba(80, 77, 77, 0.53), rgba(7, 6, 6, 0.4)), url(img/business\ management.jpg);
    animation: 2s ease-out 0s 1 fadeIn;
}

.services-col1 {

    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center; 
}

.services-col1 h3 {
    margin-top: 16px;
    margin-bottom: 15px;
}

.services1 h1 {
    font-size: 36px;
    font-weight: 600;
    
}

.services1 p {
    
    margin-right: 10%;
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    opacity: 1;
}

.row1 {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.service-col1 ul li {
    list-style: none;
    padding: 8px 12px;
    text-align: left; 
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    opacity: 1;
}

.service-col1 ul li a {
    color: #140101;
    text-decoration: none;
    font-size: 20px;
}

@media (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}



/*---------------contact us external page--------------*/

.contact-section {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.map {
    flex: 1;
    height: 400px;
    margin-right: 20px;
}

.contact-info {
    flex: 1;
    position: relative;
    margin-right: 20px;
}

.contact-info img {
    width: 100%;
    height: 400px;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: #464ec280;
}

.address-heading,
.phone-heading {
    font-weight: bold; /* Make the Address and Phone headings bold */
    font-size: 20px; /* Increase the font size of Address and Phone headings */
    color: #D3D3D3
}

.overlay-text {
    font-size: 18px; /* Increase the font size of all the text inside the overlay */
    color: #D3D3D3
}

.contact-form {
    flex: 1;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-form button {
    padding: 10px 20px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .contact-section {
        flex-direction: column;
    }

    .map, .contact-info, .contact-form {
        margin-right: 0;
        margin-bottom: 20px;
    }
}


/*---------testimonials--------*/
.testimonials{
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center; 
    background: url(img/testi.jpg);
    border-bottom: 3px solid #000000;
    border-top: 3px solid #000000;
    animation: 2s ease-out 0s 1 fadeIn;
    }
    
    .testimonial-col{
    flex-basis: 23%;
    text-align: left;
    background-color:rgba(5, 112, 233, 0.6);  
    padding: 50px;
    cursor: pointer;
    display:flex;
    border-radius: 6%;
    }
    .testimonial-col img{
    height: 100px; /* Set height for smaller screens */
    width: 100px;  /* Set width for smaller screens */
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
    padding-top: 15px;
    
    }
    
    .testimonial-col p{
    padding: 0;
    }
    
    .testimonial-col h3{
    margin-top: 15px;
    text-align: left;

    }
    
    .testimonial-col .fa{
    color:#0f0e0e
    }
    
    @media(max-width:  700px){
    .testimonial-col img{
    margin-left: 0px;
    margin-right: 15px;
    }
    }

    .testimonials .row{
       margin-left: 5%;
       margin-right: 5%;
       margin-bottom: 10%;
       margin-top: 10%;
    }
    



/*---------affiliated health plans--------*/

.affiliated-health-plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    padding-top: 18%;
    padding-bottom: 18%;
    border-bottom: 3px solid #000000;
    background: linear-gradient(to top, #E6F0FF, rgba(0, 128, 255, 0.9));
    animation: 2s ease-out 0s 1 fadeIn;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    
}

.title h2 {
    margin: 0;
}

.title hr {
    border: 0;
    border-bottom: 2px solid black;
    margin: 10px 0;
    
}

.title .subtitle {
    font-weight: normal;
    font-size: 18px;
    
}

.figure-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%; /* Adjust this value based on your design needs */
    height: 200px; /* Adjust this to control the uniform height */
    margin: 0.75%; /* This creates a space around each box */
}

.logos img {
    width: 150px; /* Adjust this to control the width of the logo */
    height: 75px; /* Adjust this to control the height of the logo */
    border: 2px solid #000;
    object-fit: contains;
    border-radius: 10px
}

.logo-row {
    display: flex;
    justify-content: space-between; /* This will distribute the space evenly between the boxes */
    margin-bottom: 20px;
}

.logo-name {
    text-align: center;
    padding: 7.5px; /* Adjust this value based on your design needs */
}

@media (max-width: 600px) {
    .figure-container {
        width: 80%; /* Adjust this to control the box width on smaller screens */
        margin: 10px auto; /* This centers the box and gives it a top and bottom margin of 10px */
    }

    .logo-row {
        flex-direction: column;
        align-items: center;
    }
}

/*---------cta--------*/


.cta{
margin: 100px auto;
width: 80%;
background-image: 
linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65), rgba(0,0,0,0.38),
            rgba(0,0,0,0.0)), url(img/quienes-somos.jpg);
background-position: center;
background-size: cover;
border-radius: 10px;
text-align: center;
padding: 100px 0;
animation: 2s ease-out 0s 1 fadeIn;
}

.cta h1{
color:#fff;
margin-bottom: 40px;
padding:0;
}

@media(max-width: 700px){
.cta h1{
    font-size: 24px;

}
}
/*---------Footer--------*/

.footer{
width: 100%;
text-align: center;
padding: 30px 0;
background: linear-gradient(to bottom, #1a2a6c, rgba(0, 128, 255, 0.9));;
animation: 2s ease-out 0s 1 fadeIn;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.footer-nav-links ul li a {
    text-decoration: none;
    color: #FFFFFF; 
    font-size: 20px;
}

.footer .fa {
    color: #fff;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.footer-nav-links ul li::after {
    content: '';
    width:0%;
    height: 2px;
    background: #000033;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.footer-nav-links ul li:hover::after {
    content: '';
    width:100%;
    height: 2px;
    background: #000033;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 5px;
}

/*---------------drop down menu--------------*/

.drop-downmenu{
    padding-top: 10%;
    padding-bottom: 20%;
    background: linear-gradient(to top, #E6F0FF, rgba(0, 128, 255, 0.9));

}

/*---------------questionarie--------------*/

.questionnaire{
    margin-top: 8%;
    margin-left: 10%;

}

.questionnaire h1{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;  
}

div .form-group{
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input[type="radio"] {
    margin-right: 5px;
  }
  
  /* Style the text inputs */
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .contact-info{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
    margin-top: 10%Fbu;
  }
  
  button.btn-secondary {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6a7f92;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }
  
  button.btn-secondary:hover {
    background-color: #5a6268;
  }

  